*{
	margin-top:0;
}

body{

	background-color:#F0E8FF;
	box-sizing: border-box;
	background-image:url("images/waterfall.gif");
	padding:0;
	margin-top:0;
	margin-bottom: 0;
	

}
h1{

	padding-top:2.5%;

}

.title{

	text-align:center;
	font-weight:400;

}

.container{
	
	width: 82%;
	height: 10px;
	margin: 0 auto;
	padding: 0 20px;
	background-color:white;
	height: 200vh;
	
}

.container .name{

	text-align:center;
	font-family:"Playfair Display", serif;
	letter-spacing:1.5px; 
	font-weight:700;

}

.frame .meirl{

	width:21.5em;
	height:27em;
	/* border-radius:50%; */
	object-fit:fill;


}

.frame{

	float:left;
	width:20rem;
	height:20rem;
	border: 3px solid black;
	border-radius:50%;
	overflow:hidden;
	margin:10px;

}

em{

	font-weight:700;
	font-size:1.2em;
	color:green;
}

.container .navbar{

	list-style:none;
	text-align:center;
	padding:0;

}

.container hr{

	width:75vw;
	margin-bottom:28px;

}
.container .navbar li{

	display:inline-block;
	margin: 0.5rem 5rem;
	font-size:1.15rem;

}

.container .navbar li a{

	text-decoration:none;
	color:black;

}

.container .navbar li a:hover{

	color:blue;
	text-decoration:underline;

}












